Homestead.yaml
Homestead.json

.env
.sass-cache
tags

node_modules
bower_components
vendor
!vendor/ontheroadjp

storage/debugbar

public/css
public/fonts
public/img
public/js

users
public/uploads
public/media

