
/* --------------------------------------
background-color:
---------------------------------------*/
@each $nuts, $color in $nuts-colors {
	.nuts-bg-#{$nuts} {
		background-color: $color;
	}
}

/* --------------------------------------
boarder:
---------------------------------------*/
@each $nuts, $color in $nuts-colors {
	.nuts-bd-#{$nuts} {
		boarder: 1px solid $color;
	}
}

/* --------------------------------------
color:
---------------------------------------*/
@each $nuts, $color in $nuts-colors {
	.nuts-text-#{$nuts} {
		color: $color;
	}
}

/* --------------------------------------
font-size:
---------------------------------------*/
@for $i from 1 through 24 {
	.nuts-fs-#{$i * 2} {
		font-size:#{$i * 2}px;
	}
}

/* --------------------------------------
margin-buttom:
---------------------------------------*/
@for $i from 1 through 24 {
	.nuts-mg-b-#{$i * 5} {
		margin-bottom:#{$i * 5}px;
	}
}

/* --------------------------------------
others
---------------------------------------*/

.no-box-shadow {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;    
}


