
$nuts-primary:		#3c8dbc;
$nuts-success:		#00a65a;
$nuts-info:			#00c0ef;
$nuts-danger:		#dd4b39;
$nuts-warning:		#f39c12;
$nuts-indigo:		#7B9AB5;
$nuts-aqua:			#B4EBF9;
$nuts-navy:			#012D5A;
$nuts-maroon:		#d81b60;
$nuts-gray:			#d2d6de;

$nuts-primary-light:rgba(60,141,188,0.65);
$nuts-success-light:rgba(0,166,90,0.65);
$nuts-info-light:	rgba(0,192,239,0.65);
$nuts-danger-light:	rgba(221,75,57,0.65);
$nuts-warning-light:rgba(243,156,18,0.65);
$nuts-indigo-light:	rgba(123,154,181,0.65);
$nuts-aqua-light:	rgba(180,235,249,0.65);
$nuts-navy-light:	rgba(1,45,90,0.65);
$nuts-maroon-light:	rgba(216,27,96,0.65);
$nuts-gray-light:	rgba(210,214,222,0.65);

$nuts-primary-dark:	#357ca5;
$nuts-success-dark:	#008d4c;
$nuts-info-dark:	#00a7d0;
$nuts-danger-dark:	#d33724;
$nuts-warning-dark:	#db8b0b;
$nuts-indigo-dark:	#647E94;
$nuts-aqua-dark:	#ADDEEA;
$nuts-navy-dark:	#001a35;
$nuts-maroon-dark:	#ca195a;
$nuts-gray-dark:	#b5bbc8;

$nuts-colors: (
	"primary":		$nuts-primary,
	"success":		$nuts-success,
	"info":			$nuts-info,
	"danger":		$nuts-danger,
	"warning":		$nuts-warning,
	"indigo":		$nuts-indigo,
	"aqua":			$nuts-aqua,
	"navy":			$nuts-navy,
	"maroon":		$nuts-maroon,
	"gray":			$nuts-gray,
	"black":		#000,
	"white":		#fff,

	// "primary-light":$nuts-primary-light,
	// "success-light":$nuts-success-light,
	// "info-light":	$nuts-info-light,
	// "danger-light":	$nuts-danger-light,
	// "warning-light":$nuts-warning-light,
	// "indigo-light":	$nuts-indigo-light,
	// "aqua-light":	$nuts-aqua-light,
	// "navy-light":	$nuts-navy-light,
	// "maroon-light":	$nuts-maroon-light,
	// "gray-light":	$nuts-gray-light,

	// "primary-dark":	$nuts-primary-dark,
	// "success-dark":	$nuts-success-dark,
	// "info-dark":	$nuts-info-dark,
	// "danger-dark":	$nuts-danger-dark,
	// "warning-dark":	$nuts-warning-dark,
	// "indigo-dark":	$nuts-indigo-dark,
	// "aqua-dark":	$nuts-aqua-dark,
	// "navy-dark":	$nuts-navy-dark,
	// "maroon-dark":	$nuts-maroon-dark,
	// "gray-dark":	$nuts-gray-dark,
);

