
@each $nuts, $color in $nuts-colors {
    .nuts-btn-#{$nuts} {
        color: $color;
        background-color: #fff;
        border-color: $color;
        &:hover {
            color: #fff;
            background-color: $color;
            border-color: $color;
        }
    }
}


.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.35;
    filter: alpha(opacity=65);
    box-shadow: none;
    border: 2px dotted;
}