
$nuts-primary:			#337ab7;
$nuts-success:			#4cae4c;
$nuts-success-light:	#5ebd5e;
$nuts-info:				#46b8da;
$nuts-danger:			#d43f3a;
$nuts-indigo:			#7B9AB5;
$nuts-aqua:				#B4EBF9;

$nuts-colors: (
	"primary":		$nuts-primary,
	"success":		$nuts-success,
	"success-light":$nuts-success-light,
	"info":			$nuts-info,
	"danger":		$nuts-danger,
	"indigo":		$nuts-indigo,
	"aqua":			$nuts-aqua,
);

