
.nuts-btn-primary {
    color: #2e6da4;
    background-color: #fff;
    border-color: #2e6da4;
}

.nuts-btn-info {
    color: #46b8da;
    background-color: #fff;
    border-color: #46b8da;
}

.nuts-btn-success {
    color: #4cae4c;
    background-color: #fff;
    border-color: #4cae4c;
}

.nuts-btn-danger {
    color: #d43f3a;
    background-color: #fff;
    border-color: #d43f3a;
}
