/*
 * Skin: Nuts
 * ----------
 */

body.skin-nuts  {
    font-weight: 200;
}

.skin-nuts .main-header {
    .logo {
        font-size: 14px;
        background-color: $nuts-navy-dark;
        color: #fff;
        border-bottom: 0 solid transparent;
        &:hover {
            background-color: $nuts-navy-dark;
        }
    }
    .navbar {
        background-color: $nuts-indigo;

        .nav {
            & > li > a {
                color: #fff;
            }
            & > li > a:hover,
            & > li > a:active,
            & > li > a:focus,
            & .open > a,
            & .open > a:hover,
            & .open > a:focus,
            & > .active > a {
                background: rgba(0, 0, 0, 0.1);
                color: #f6f6f6;
            }
        }
        .sidebar-toggle {
                color: #fff;
            &:hover {
                color: #f6f6f6;
                background: rgba(0, 0, 0, 0.1);      
                background-color: #367fa9;
            }
        }
    }
    li.user-header {
        background-color: #3c8dbc;
    }

}

.skin-nuts {
    .content-header {
        background: transparent;
    }
    .wrapper,
    .skin-nuts .main-sidebar,
    .skin-nuts .left-side {
        background-color: #EDF0F1;
    }
    .user-panel {
        & > .info,
        & > .info > a {
            color: #fff;
        }
    }
}

// .skin-nuts.layout-top-nav .main-header > .logo {
//     background-color: #3c8dbc;
//     color: #fff;
//     border-bottom: 0 solid transparent;
//     &:hover {
//         background-color: #3b8ab8;
//     }
// }


// .skin-nuts .sidebar-menu > li.header {
//     color: #4b646f;
//     background: #1a2226;
// }
// .skin-nuts .sidebar-menu > li > a {
//   border-left: 8px solid transparent;
//   border-bottom: 1px solid #dfe4e6;
//   color: #626b7a;
// }
// .skin-nuts .sidebar-menu > li:hover > a, 
// .skin-nuts .sidebar-menu > li.active > a {
//     /* color: #ffffff; */
//     /* background: #1e282c; */
//     border-left: 8px solid #F7AC05;
// }

.skin-nuts .sidebar {
    a {
        color: #b8c7ce;
        &:hover {
            text-decoration: none;
        }
    }
    .sidebar-menu {
        & > li.header {
            color: #4b646f;
            background: #1a2226;
        }
        & > li > a {
            border-left: 8px solid transparent;
            border-bottom: 1px solid #dfe4e6;
            color: #626b7a;
        }
        & > li:hover > a, 
        & > li.active > a {
            border-left: 8px solid #F7AC05;
        }
        & > li > .treeview-menu {
            margin: 0 1px;
            background: #EEF7FB;
            & > li > a {
                color: #8aa4af;
                padding: 10px;
                border-bottom: 1px solid #C5DCE6;
            }
            & > li.active > a,
            & > li > a:hover {
                border-left: 5px solid #8E92CA;
            }
        }
    }
}

// .skin-nuts .treeview-menu {
//             & > li > a {
//                 color: #8aa4af;
//                 padding: 10px;
//                 border-bottom: 1px solid #C5DCE6;
//             }
//             & > li.active > a,
//             & > li > a:hover {
//                 border-left: 5px solid #8E92CA;
//             }
// }


// .skin-nuts .sidebar a {
//     color: #b8c7ce;
//     &:hover {
//         text-decoration: none;
//     }
// }

// .skin-nuts .sidebar-menu {
//     & > li.header {
//         color: #4b646f;
//         background: #1a2226;
//     }
//     & > li > a {
//         border-left: 8px solid transparent;
//         border-bottom: 1px solid #dfe4e6;
//         color: #626b7a;
//     }
//     & > li:hover > a, 
//     & > li.active > a {
//         border-left: 8px solid #F7AC05;
//     }
//     & > li > .treeview-menu {
//         margin: 0 1px;
//         background: #EEF7FB;
//     }
// }

// .skin-nuts .treeview-menu > li > a {
//   color: #8aa4af;
//   padding: 10px;
//   border-bottom: 1px solid #C5DCE6;
// }
// .skin-nuts .treeview-menu > li.active > a,
// .skin-nuts .treeview-menu > li > a:hover {
//   border-left: 5px solid #8E92CA;
// }


.skin-nuts .main-menu-item.active:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: 218px;
    right: auto;
    top: 12px;
    z-index: 999;
}

.skin-nuts .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-nuts .sidebar-form input[type="text"],
.skin-nuts .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-nuts .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-nuts .sidebar-form input[type="text"]:focus,
.skin-nuts .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-nuts .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-nuts .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

/* ------------------------------------ */

.skin-nuts .content-wrapper{
  background-color: #fff;
}

.skin-nuts .content-header {
    & > h1 {
        padding-top: 10px;
    }
}

@media (max-width: 991px) {
  .skin-nuts .content-header > .breadcrumb {
      background: #fff;
  }
}

/* ------------------------------------ */

.skin-nuts .box {
    border-top: 1px solid #d2d6de;
}

.skin-nuts .box-header {
    color: #444;
    display: block;
    padding: 20px 10px;
    position: relative;
}

/* ------------------------------------ */

.skin-nuts .form-group {
    margin-bottom: 35px;
}
